//#pd-list.scss

$imgPath:'../../img/';




#mainPdBox {
  width: 100%;
  height: 1800px;
  padding: 80px 0;
  background-color: #333;



@at-root .main_pd_wrap {
  width: 100%; height: 440px;
  margin: auto; margin-top: 120px;
  background-color: #333;
}

@at-root .second {margin-bottom: 160px;}

@at-root .main_title {
  width: 100%; height: auto; margin-bottom: 180px;
}



#mainPdBox .icon {
  width: 30px;
  height: 30px;
  margin: auto;
  margin-bottom: 10px;
  background-color: #fff;
}

#mainPdBox h2 {
  width: 100%; height: auto;
  text-align: center;
  margin-bottom: 50px;
  color: #fff;
  font-size: 2.5rem;
}


.tab_title_area {
  /* float: left; */
  width: 600px;
  height: 60px;
  margin: auto;
}

.tab_title_area > ul {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  /* border-bottom: 1px solid #ddd; */
}

.tab_title_area li {
  float: left;
  width: 200px;
  height: 100%;
  box-sizing: border-box;
  padding: 0;
  background-color: #fff;
  text-align: center;
  line-height: 60px;
}

.tab_title_area li:nth-child(1) {border-radius: 5px 0 0 5px;
}

.tab_title_area li:nth-child(3) {border-radius: 0 5px 5px 0;}
  
  


.tab_title_area li:hover{background-color: #70A103;}

.tab_title_area li:hover button{ color: #fff;}

.tab_title_area li.action {background-color:  #70A103;}
.tab_title_area li.action button {color: #fff;}


.tab_title_area button { width: 100%; height: 100%; 
  font-size:1rem; font-weight: 700;}

.tab_content_area {width: 100%; height: 100%;}

.tab_content_area > div.action {display: block;}

.tab_con_detail_01 {display: none;
  width: 100%; height: 100%;
  background-color: #040;}

.tab_con_detail_02 {display: none;
  width: 100%; height: 100%;
  background-color: #333;}

.tab_con_detail_03 {display: none;
  width: 100%; height: 100%;
  background-color: #040 }

.main_conbox {
  float: left;
  width: 300px;
  height: 440px;
  padding: 10px;
  margin-right: 100px;
  background-color: #fff;
}

.main_conbox:last-child {
  margin-right: 0;
}

.main_conbox .thumbnail {
  position: relative;
  float: left;
  width: 100%;
  height: 280px;
  background-color: #444;
}

.thumbnail img {
  float: left;
  width: 100%;
  height: 100%;
}
.shop_bag_icon {
  position: absolute;
  bottom: 15px;
  right: 15px;
  width: 48px;
  height: 48px;
  background-color: #fff;
  /* background-image: url(../../img/shopping-bag.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%; */
  border-radius: 100%;
  cursor: pointer;
}

.shop_bag_icon:hover {background-color: #70A103;}
.shop_bag_icon img {transform: scale(0.7);}
.shop_bag_icon img:hover {filter: brightness(100);}


.description {
  float: left;
  width: 100%;
  height: 160px;
}

.main_pd_name a {
  display: block;
  padding-top: 10px;
  font-size: 1.4rem;
  text-decoration: none;
}

.main_pd_name .sub_text {
  font-size: 0.95rem;
  padding-left: 0.2rem;
  margin-top: 10px;
}

.main_pd_price {
  margin-top: 20px;
}

.main_pd_p_dc {
  color: #333;
  font-weight: 700;
  font-size: 1.45rem;
  letter-spacing: -0.05rem;
}

.main_pd_per_price {
  display: inline-block;
  margin: 3px 0px 0px 7px;
  font-size: 1.05rem;
  color: #bebebe;
  text-decoration: line-through;
  font-weight: 400;
}

.main_pd_sale_price {
  float: right;
  margin: 3px 4px 0px 0px;
  text-align: right;
  color: #f00;
  font-weight: 700;
  font-size: 1.5em;
  letter-spacing: -0.05rem;
}


.pd_btn_wrap {
  position:relative;
  width: 300px; height: 60px;
  margin: auto;}

.pd_btn_wrap button {border: 0.2px solid #B1B1B1;}

.next {float: right;
  width: 60px; height: 60px;
  background-color: #fff;
  background-image: url(../../img/chevron-next.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.prev {
  float: left;
  width: 60px; height: 60px;
  background-color: #fff;
  background-image: url(../../img/chevron-prev.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}


.page_counut { 
  position: absolute;
  top: 20px;
  right:70px;
  width: 150px; height: 40px;
  margin: auto;}

.page_counut li  { 
  float: left;
  width: 40px; height: 40px;
  margin-right: 10px;
  background-color: #fff;
  border: 0.2px solid #B1B1B1;
}
.page_counut li:hover {background-color: #333;
color: #fff;}
.pd_btn_wrap button:hover {background-color: #ddd ;
 }

  .page_counut li:last-child {margin-right: 0;}
  .page_counut li a {  display: block;
    width: 100%; height: 100%;
    text-align: center;
    line-height: 40px;
    font-weight: 700;
  }

}