// rivewPdbox.scss

$imgPath:'../../img/';

#rivewPdBox{
    width: 100%; height: 800px;
    // background-color: rgba($color_primary_02,0.1);
    padding-top:  80px;

		@include tablet { height: auto; }
		@include mobile { height: auto; padding: 40px 0;}


	& h2 { text-align: center; color: #171717;
		font-size: 2.25rem; margin-bottom: 80px;
		@include mobile { font-size: map-get($font_size,content1);
			margin-bottom: 40px;}
	}


	& p { text-align: center; color: #171717;
		font-size: 1.5rem; margin-bottom: 10px;
		@include mobile { font-size: map-get($font_size,button1);}
	}

	
	@at-root .revew_pd_wrap { 
		display: flex; justify-content: space-evenly; 
		width: 100%; max-width: 1440px; height: auto; margin: auto; padding-bottom: 40px;;
	 
		@include laptop {:nth-of-type(4) {display: none;}}
		@include tablet { flex-direction: row; flex-wrap: wrap;
			width: 70%; margin: auto; min-width: 768px;
		@include mobile {display: none;}


		}
	}//revew_pd_wrap

 @at-root .re_slide_wrapper {display: none;


		@include mobile {  display: block;
			
			@at-root .re_slide_wrapper{
			position: relative; width: 90%; margin: auto;
			 height: 400px;  padding-bottom: 70px;
			}
		
			@at-root .re_indi_container {
				position: absolute; bottom: 10px; left: 50%; z-index: 100;
				width: 100%; height: auto; padding: 5px; 
				transform: translateX(-50%);
				& > ul {  
					width:100%; height:30px; text-align: center; 
					& > li {  
						display: inline-block; width: 30px; height: 30px; 
						margin-right: 20px; 
						&:last-child {margin-right: 0;}
						@at-root .re_indicator a {
							@include full;
							background-color: #999; border-radius: 3.125rem; 
					}
				}
			}
		}//indi_container
		
		
		
		@at-root .review_btn {
			position: absolute; top: 40%; 
			left: 0; z-index: 500; width: 100%; height: 0;
			& > button {  justify-content: space-between;
				width: 60px; height: 60px;
				color: #fff;
		
				&.next { float: right;
					@include full('slick-next.svg',$size:contain) {
						width: 60px; height: 60px;	}
				}
			
				&.prev { 
					@include full('slick-prev.svg',$size:contain) {
						width: 60px; height: 60px;	}
				}
			
			
			}

			}//view_btn
		
		
			@at-root .review_area {
				width: 100%; height: 100%; overflow: hidden;
			}
		
			@at-root .re_slide_con_wrap {  position: relative;
				height: 100%;
				& > div {display: none; position: absolute;
					top: 0; left: 0; width: 100%;height: 100%;
				&.action{  display: block;
					z-index: 5;
		
					}
				}
			}
		
			.slide_01 {
				background-color: #777;
				@include full ('banner/sinae1000_01_02.jpeg',$size:cover);
			}
			.slide_02 {
				background-color: #73f7;
			}
			.slide_03 {
				background-color: #6637;
			}
			.slide_04 {
				background-color: #5af7;
			}

	}
 }//re_slide_wrapper



	@at-root .revew_conbox {
		position: relative; 
		width: 300px; height: 400px;
		background-repeat: no-repeat; background-position: 50%;
		background-size: cover;
		background-image: url("../../../img/banner/sinae1000_01_02.jpeg");
		&:last-child {margin-right: 0;}
		
		@include tablet {margin-bottom: 30px;}
		@include mobile {display: none;}


		& .direc_btn {
			position: absolute; bottom: 50px; left: 50%;
			margin-left: -100px;  z-index: 500;
			width: 200px; height: 60px; color: #fff;
			font-weight: 400; text-align: center;
			line-height: 60px; background-color: $color_primary_01;

			& a {	
				@include full;
				&:hover{@include hoverT($ms:200)}
				&::after{	content: "";
					display: inline-block; /*i태그는 인라인 요소이기 때문에 블록처리해야함*/
					margin-left: 5px;
					margin-bottom: 2px;
					width: 20px;
					height: 20px;
					vertical-align: middle;
					background-image: url("/img/next_btn.svg");
					background-repeat: no-repeat;

				}
			}

		}
	
	}//.revew_conbox

}