//#serchPdBox 

$imgPath:'../../img/thumbnail/';
body{width: 100%; }

#serchPdBox {
    width: 100%; height: auto;
    background-color: nth($color_accent_01,1 ); 
    @include handhelds { overflow-x: hidden;}
   

@at-root .serch_pd_wrap {
    position: relative; top: -100px; z-index: 100;
    width: 1074px; height: 450px; padding: 30px 90px;
    margin: auto; background-color: #fff;
    box-shadow: 5px 5px 20px rgba(94, 94, 94, 0.15);
    @include handhelds {position: static;
    width: 100%; height: 360px; padding:50px 0px;  margin: 0;
  background-color: #fff;}
}

@at-root .search_title {
  width: 100%; height: auto; margin: 40px auto;
  & h2 {font-size: map-get($font_size, title3);
  text-align: center; color:nth($color_black, 2);} 
  @include handhelds {display: none;}
}

@at-root .search_mo_title{
  width: 100%; height: auto; margin: 0 auto;
  text-align: center; color:nth($color_black, 2);
  & h2 {font-size: map-get($font_size, point1);
  margin-bottom: 8px;}
  & h3 {font-size: map-get($font_size,button1); margin-bottom: 30px;
  font-weight: 400;}
  @include pc  {display: none;}
  @include laptop  {display: none;}
}


@at-root .search_pd_icon {
  display: inline-block; width: 50px; height: 50px;
  background-image: url(../../img/search.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transform: translateY(11px);
}

@at-root .serch_con_wrap { 
  width: 100%;  min-width: 500px; height: auto;
  position: relative; left: 50%; transform: translateX(-50%); // 가로값이 지정이 안되었기떄문에
  display: flex; justify-content: space-between;
    @include handhelds { justify-content: center; overflow: hidden; } 
    @include tablet { justify-content: center;}


  @at-root .serch_conbox {
    position: relative; width: 180px; height: 148px;padding: 0;
    background-color: #fff;

    @include handhelds {width: 120px; height: 150px; margin-right: 15px;
       background-color: #ddd; 
       &:last-child {margin-right: 0;}}



    & .direc_btn {
      position: absolute; top: 74%; z-index: 100; left: 50%; margin-left: -40px;
      width: 80px; height: 27px; 
      border-radius: 20px; background-color: $color_primary_02;
      & > a {@include full;
      font-size: 12px; text-align: center; line-height: 27px;
      &:hover {@include hoverT($ms: 100)} 
      color: #333333;}
      @include pc {display: none;}
      @include laptop {display: none;}
    }

  }//.serch_conbox

  @at-root .serch_thumbnail {width: 100%; height: 180px;
    @include handhelds {width: 120px;
    @include img ('largeBox_01.jpg')
    }
   @include full('m_pd_3-removebg-preview.png',$size:contain)
      
  
  }//serch_thumbnail

  @at-root .serch_description{
    width: 100%; height: auto;
      & > p{padding-top: 10px; font-size: 1.375rem;
        font-weight: 700; text-align: center;}
    }


  }//serch_con_wrap

}



