//#_searchFormBox.scss

$imgPath:'../../img/';




#searchFormBox {
  width: 100%; height: auto;
background-image: url('../../img/user/bg_2.png');
background-repeat: no-repeat;
background-size: cover;
background-position: 50%;
}

.question_area { width: 100%; height: 100%;
  margin:auto; padding: 300px 0;
  @include mobile {padding: 150px 0;}

  @at-root .q_main_title {text-align: center; color: #fff; margin-bottom: 80px;
    & h2 {margin-bottom: 20px;font-size: 3rem;
      @include mobile {font-size: map-get($font_size,point1);}}
    & p {text-align: center; font-size: 1.375rem; font-weight: 400;
      @include mobile {font-size: map-get($font_size,content3);}}
  }
}//.question_area



.question-list {width: 100%; height: auto;
  margin-bottom: 140px; text-align: center; padding-bottom: 50px;
    @include mobile {padding-bottom: 10px;}

    & .q-no {margin-bottom: 10px;  font-size: 1.375rem; font-weight: 700; 
          text-transform: uppercase; color: #FFD800; }
    & h3 {font-size: 30px; font-weight: 500; color: #fff;
      @include mobile {font-size: map-get($font_size,content1);}
      &:nth-child(2){word-break: keep-all; }
    }
}//.question-list 

.q-item  {width: 100%; height: 280px; 
  @include mobile {height: auto;}} 

  .gender_wrap {width: 420px; height: auto; margin: auto;
    @include mobile {width: 100%; display: flex; justify-content:center; }
  }
  .q-chk-box {
    position: relative;
    float: left; width: 200px; height: 200px;  
    margin-right: 20px; margin-top: 40px;
    @include mobile {width: 140px; height: 140px; margin-right: 10px;}
  }
  .question-list input:focus + label {border: 3px solid rgb(255, 255, 255); }
    .q-chk-box:nth-child(2) {margin-right: 0;}
    
    .gender_box
      {display: block;
      width: 200px; height: 200px;
      background-color: rgba(255, 255, 255, 0.2);
      background-image: url('../../img/user/css_sprites.png');
      background-repeat: no-repeat;
      background-position: -500px -25px;
      background-size:inherit;
      border-radius: 100%;
      border: 4px solid rgba(255, 255, 255, 0.7);

      @include mobile {width: 140px; height: 140px;
        background-image: url('../../img/user/female.svg');
        background-repeat: no-repeat;
        background-position: 50% 20%;
        background-size: 60%;
  
      }


   
    }

    .ma{background-position: -900px -25px;
      @include mobile {width: 140px; height: 140px;
        background-image: url('../../img/user/male.svg');
        background-repeat: no-repeat;
        background-position: 50% 20%;
        background-size: 60%;
  }
    
    }
  
    .gender_box {padding-top: 120px; box-sizing: border-box;
      color: #fff; font-size: 1.5rem; margin: 0;
      @include mobile {padding-top: 90px;}
    
    }

      

    .q-chk-box>input:checked + label{ background-color: rgb(255, 255, 255); 
      background-position: -700px -25px;
    color: #333; 
      @include mobile {background-image: url('../../img/user/female-1.svg');
        background-repeat: no-repeat;
        background-position: 50% 20%;
        background-size: 60%;}
  
  }

    .q-chk-box>input:checked + .ma{ 
      background-color: rgb(255, 255, 255);  background-position: -1100px -25px;
      @include mobile {background-image: url('../../img/user/male-1.svg');
        background-repeat: no-repeat;
        background-position: 50% 20%;
        background-size: 60%;}
    
    
    }




.qs-item{width: 100%; height: auto; margin: auto;  padding-top: 50px;

}



.qs_wrap {width:100%; height: 100px; margin: auto;  display: flex; justify-content:center; 
  @include tablet {width: auto; display: flex; justify-content:center;  flex-wrap: wrap;}
  @include mobile {flex-direction: column; justify-content: center; 
    height:auto; align-items: center;}
  
}


.qs_con { float: left; width: 170px; height: 100px;   margin-right: 20px;
  @include tablet { width: 120px;}
  @include mobile { width: 280px; margin-right: 0; margin-bottom: 20px;}
 
}

.qs_wrap.pp {display: flex; justify-content:center; width: 100%; height: 100px; margin: auto; 
max-width: 1440px;
  @include mobile {height: auto; }
  
}

.qs_con.pp {width: 200px;  margin-bottom: 20px; 
  @include mobile {width: 280px; }

}

.qs_con:last-child{margin-right: 0;}

.q_box {display: block; width: 100%; height: 100%;
background-color: rgb(255, 255, 255,0.2); border-radius: 15px;
border: 3px solid rgba(255, 255, 255, 0.5);
color: #fff; font-size: 22px; font-weight: 700;
line-height: 100px;
}

.qs_con>input:checked + label{ background-color: rgb(255, 255, 255); color: #333; 
  box-shadow: 10px 10px 20px rgb(0 0 0 / 20%);}


.q_title {margin-bottom: 50px;}

.qs_con.life {width: calc( (100% - 40px) / 3 );
  @include tablet {width: calc( (100% - 100px) / 3 ); }  
  @include pc {width: calc( (90% - 100px) / 3 ); }  
  @include laptop{width: calc( (90% - 100px) / 3 ); }  
  @include mobile {width: 280px;}
}

.qs_wrap.pp {margin-bottom: 30px;
  @include mobile {margin-bottom: 0;}}
.pp2 .life {width: calc( (100% - 40px) /4 );
  @include tablet {width: calc( (100% - 30px) / 3 ); margin-bottom: 30px;
  
  }  
  @include mobile {width: 280px; }
}


 .q_btn_wrap {width: 340px; height: 80px; margin: auto;  margin-bottom: 20px; background-color: #333333;
  @include mobile {width: 280px; }
}
 
  .q_btn_wrap button {@include full; 
  line-height: 80px;font-size: 22px; font-weight: 700; color: #fff;}

  .q_btn_wrap button:active{background-color: #fff ; color: #333333; }

  .q_btn_wrap button:active span {display: inline-block ;
    width: 30px; height: 30px;
    background-image: url('../../img/check_black.svg');
    background-repeat: no-repeat;
    background-size:initial;
    transform: translateX(-10px) translateY(6px);}


.q_btn span {display: inline-block ;
width: 30px; height: 30px;
background-image: url('../../img/check.svg');
background-repeat: no-repeat;
background-size:initial;
transform: translateX(-10px) translateY(6px);}





  